<input type="checkbox" id="{{id}}_input" class="input"
			 autofocus={{autofocus}}
			 checked={{checked}}
			 disabled={{disabled}}
			 name={{name}}
			 readonly={{readonly}}
>
<label for="{{id}}_input" class="label">{{yield}}</label>